* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* 头部信息 */
li {
    list-style: none;
}

/* header,
nav,
section,
div,
p,
ul,
li{
border: 1px solid blue;
} */
/* div{
    display: block;
} */
header {
    min-width: 1342px;
    height: 42px;

}

/* 逆战 */
header ul .bf div {
    position: absolute;
    display: none;
    width: 979px;
    height: 149px;
    z-index: 888;
    top: 4px;
    left: 19px;
}

header ul {
    width: 991px;
    height: 41px;
    margin: 0 auto;
}

header .af {
    float: left;
    width: 150px;

}

header .af {
    background: url(../img/log.jpg) no-repeat;
    width: 153px;
    height: 39px;
}

header .bf {
    float: left;
    width: 150px;
    width: 231px;
    height: 41px;
    cursor: pointer;

}

/*逆战出现的的效果  3个*/
header .bf:hover>div {
    display: block;
}

header .bf:hover .img_bf {
    display: none;
}

header .bf:hover~.cf {
    display: none;
}

header .cf {
    float: right;
    width: 300px;
    height: 41px;
}

header .cf h3 {
    float: left;
    padding-left: 25px;
    height: 21px;
    line-height: 35px;

}

header .cf h3 a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

header .cf .grow :hover {
    color: tomato;
}

header .cf div {
    position: relative;
    top: 42px;
    z-index: 999;
    left: -397px;
    width: 698px;
    height: 280px;
    background-color: whitesmoke;
    display: none;

}

header .cf ul {
    display: flex;
    flex-wrap: wrap;
    width: 700px;

}

header .cf ul li {
    width: 230px;
    height: 38px;


}

header .cf ul li a {
    width: 220px;
    height: 38px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
}

header .cf ul li span {
    height: 18px;
    width: 129px;
    /* border: 1px solid green; */
    line-height: 18px;

}

header .cf ul li img {
    width: 18px;
    height: 18px;
    padding-left: 59px;

}

header ul li .level:hover~.level_son {
    display: block;
}


/* 导航 */
nav {
    height: 90px;
    width: 1342px;
    background: #000;


}

nav .left {
    margin-left: 15px;
    float: left;

    display: block;
    width: 172px;
    height: 72px;
    background: url(../img/绝地求生.jpg ) no-repeat;
}

nav .mid {
    float: left;
    width: 698px;
    height: 90px;
    margin-left: 37px;
}

nav ul {
    width: 698px;
    height: 90px;
    display: flex;
    align-items: center;
}

nav .mid li {
    float: left;
    margin: 0 24px;

}

nav .mid a {
    color: #ccc;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.nac .right {
    position: absolute;
}

nav .right a {
    position: relative;
    top: 27px;
    right: 52px;
    display: block;
    width: 142px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: #e69800;
    text-shadow: 1px 1px 1px #b27601;
}

nav .right {
    width: 269px;
    height: 90px;
    float: right;
}

section {
    width: 1342px;
}

footer {
    height: 162px;
    width: 1342px;
    background: #000;
}

footer .mid {
    width: 1200px;
    height: 160px;
    margin: 0 auto;

}

.mid .left {
    margin-top: 21px;
    width: 373px;
    height: 126px;
    float: left;

}

.img1 {
    margin-bottom: 34px;
    margin-left: 44px;
}

.mid .right {
    width: 820px;
    height: 156px;
    float: left;
}

.right ul {
    padding-left: 31px;
}

.right ul li a {
    font-size: 5px;
    padding: 0 6px;
    color: #676767;
    text-decoration: none;
}

.right ul #one a:nth-child(-n+9) {
    font-size: 5px;

    border-right: 1px solid #676767;
}
